# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.FinancialInstitution.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\sizda\Desktop\programming\c#\assignments\cSharp-financial-institution\FinancialInstitution\.idea\.idea.FinancialInstitution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
